{% extends 'ltc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Assignment Page
{% endblock %}

{% block body_block %}
    For Which Course:<a href="{% url 'ltc:course_page' course.slug %}">{{ course }}</a>
    <br />
    Title:{{ title }}
    <br />
    Detail:{{ detail }}
    <br />
    <a href="{% url 'ltc:grade_assignment' assignment.slug %}"><button>Grade Assignment</button></a>
    <a href="{% url 'ltc:edit_assignment' assignment.slug %}"><button>Edit Assignment</button></a>
    <a href="{% url 'ltc:delete_assignment' assignment.slug %}"><button>Delete Assignment</button></a>
{% endblock %}
