<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>LTC++ 
      {% block title_block %}
       Default title. 
      {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <meta name="theme-color" content="#7952b3" />
    <!-- Custom styles for this template -->
    <link
      href="https://getbootstrap.com/docs/5.1/examples/product/product.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="site-header sticky-top py-1">
      <nav
        class="container d-flex flex-column flex-md-row justify-content-between"
      >
        <a class="py-2 d-none d-md-inline-block" href={% url 'ltc:index' %}>LTC++</a>
        
        <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
      </nav>
    </header>

    <main>
      {% block body_block %}
        
      {% endblock %}
    </main>

    <footer class="container py-5">
      {% block footer_block %}
        
      {% endblock %}
    </footer>

    <script
      src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
