{% extends 'ltc/base.html' %} {% load staticfiles %} {% block title_block %}
    Course Page {% endblock %} {% block body_block %}
    <div class="row">
        <div class="col-sm-3">
            <div
                    id="scroll-list"
                    class="mt-3 list-group sticky-top"
                    style="top: 1em"
            >
                <a
                        class="list-group-item list-group-item-action"
                        href="#list-item-1"
                >Lectures</a
                >
                <a
                        class="list-group-item list-group-item-action"
                        href="#list-item-2"
                >Tutorials</a
                >
                <a
                        class="list-group-item list-group-item-action"
                        href="#list-item-3"
                >Labs</a
                >
                <a
                        class="list-group-item list-group-item-action"
                        href="#list-item-4"
                >Assignments</a
            >
        </div>
    </div>
    <div class="col-sm-9">
        <div id="course-info" class="pb-4">
            <h2>{{ course.code }}: {{ course.name }}</h2>
            <p>{{ course.description }}</p>
            By Which Staff:{{ course.staff }}
        </div>
        <div>
            {% for e in events%}
            <div class="pb-4">
                <hr class="my-12" />
                <h4 id="list-item-{{forloop.counter}}">{{e.0}}</h4>
                <div class="list-group">
                    {% if e.1 %} {% for l in e.1 %}
                    <a
                        href="{% url 'ltc:event_page' l.slug %}"
                        class="list-group-item list-group-item-action"
                    >
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{l.name}}</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">{{l.description}}</p>
                        <small>And some small print.</small>
                    </a>
                    {% endfor %} {% else %}
                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">No {{e.0}} in this course</h5>
                        </div>
                        <p class="mb-1">{{l.description}}</p>
                        <small
                            >This means that the course director has not added
                            any materials for this section.</small
                        >
                    </a>
                    {% endif%} {% if user.is_staff %}
                    <a
                        href="{% url 'ltc:add_event' course.slug e.0 %}"
                        class="list-group-item list-group-item-action"
                    >
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Add new {{e.0}}</h5>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="pb-4">
                <hr class="my-12" />
                <h4 id="list-item-4">Assignments</h4>
                <div class="list-group">
                    {% for a in assignments%}
                    <a
                        href="{% url 'ltc:assignment_page' a.slug %}"
                        class="list-group-item list-group-item-action"
                    >
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{a.title}}</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">
                            Some placeholder content in a paragraph.
                        </p>
                        <small>And some small print.</small>
                    </a>
                    {% endfor %} {% if user.is_staff %}
                    <a
                        href="{% url 'ltc:add_assignment' course.slug %}"
                        class="list-group-item list-group-item-action"
                    >
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Add new Assignments</h5>
                        </div>
                    </a>
                    {% endif %}
                    </div>
                </div>

                <div class="pb-4">
                    {% if user.is_staff %}
                        <hr class="my-12"/>
                        <h4 id="list-item-5">Delete this course</h4>
                        <div class="list-group">
                            <a href="" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Delete this course permanently</h5>
                                </div>
                                <p class="mb-1">
                                    Some placeholder content in a paragraph.
                                </p>
                                <small>And some small print.</small>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %} {% block footer_block %}
    <script
            type="text/javascript"
            src="{% static 'javascript/scroll.js' %}"
    ></script>
{% endblock %}
