{% extends 'ltc/base_simple.html' %}
{% load staticfiles %}

{% block title_block %}
	Course Page
{% endblock %}

{% block body_block %}
    Course Name: {{ course.name }}
    <hr />
    Course Description: {{ course.description }}
    <hr />
    By Which Staff: <a href="{% url 'ltc:staff_page' course.staff.slug %}">{{ course.staff }}</a>
    <hr />

    Prerequisites:
    <ul>
    {% for pre in prerequisites %}
       <li><a href="{% url 'ltc:course_page' pre.slug %}">{{ pre }}</a></li>
    {% empty %}
        No prerequisite.
    {% endfor %}
    </ul>
    <hr />

    Events On Course:
    <ul>
    {% for e in events %}
        <li><a href="{% url 'ltc:event_page' e.slug %}">{{ e }}</a></li>
    {% empty %}
        No event.
    {% endfor %}
    </ul>
    <hr />



    Assignments:
    <ul>
    {% for a in assignments %}
        <li><a href="{% url 'ltc:assignment_page' a.slug %}">{{ a }}</a></li>
    {% empty %}
        No assignment.
    {% endfor %}
    </ul>
    <hr />
    <a href="{% url 'ltc:edit_course' course.slug %}"><button>Edit Course</button></a>
    <a href="{% url 'ltc:delete_course' course.slug %}"><button>Delete Course</button></a>
{% endblock %}
