{% extends 'ltc/base.html' %} {% load staticfiles %} {% block title_block %} {{
event.name }} {% endblock %} {% block body_block %}

<div class="row">
    <div class="card" style="width: 100%">
        <div class="card-body">
            <div class="col-9">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <a href="" id="link">{{ event.location }}</a>
                <p class="card-text">{{ event.timeslot }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 100%">
        <div id="map" style="height: 20em; width: 100%"></div>
    </div>
</div>

<a href="{% url 'ltc:edit_event' event.slug %}"><button>Edit Event</button></a>
<a href="{% url 'ltc:delete_event' event.slug %}"
    ><button>Delete Event</button></a
>
<i id="latlon" hidden>{{event.geoUri}}</i>
{% endblock %} {% block footer_block %}
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.13.0/build/ol.js"></script>
<script
    type="text/javascript"
    src="{% static 'javascript/location.js' %}"
></script>
{% endblock %}
