{% extends 'ltc/base_simple.html' %}
{% load staticfiles %}

{% block title_block %}
	Find Meeting Time
{% endblock %}

{% block body_block %}
    <strong>Select Multiple Students and Click the Button to See the Result.</strong>
    <form id="course_form" method="post" action="{% url 'ltc:find_meeting_time' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form -->
    {{ form.as_p }}
    <!-- Provide a button to click to submit the form. -->

    <input type="submit" name="submit" value="Find meeting time" />
    </form>

    All Shared Available Time Slots:
    <ul>
    {% for t in time_slots %}
        <li><a href="{% url 'ltc:time_slot_page' t.slug %}">{{ t }}</a></li>
    {% empty %}
        No time slot.
    {% endfor %}
    </ul>
    <hr />

{% endblock %}
