{% extends 'ltc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Find Meeting Time
{% endblock %}

{% block body_block %}
    
<div class="row">
    <div class="col-sm-6">
        My Schedulers
        <div class="panel panel-primary" id="result_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Result List</h3>
            </div>
            <div class="overflow-auto">
                <div class="panel-body" style="height: 120px;">
                    <ul class="list-group">
                        {% for m in meetings %}
                        <a class="list-group-item" href="{% url 'ltc:team_schedule_page' m.slug %}"><strong>
                        {{m.name}}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        Make a new scheduler<br/>
        <form id="course_form" method="post" action="{% url 'ltc:find_meeting_time' %}"
        enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
        <input type="submit" name="submit" value="Create a new meeting" />
    </div>
</div>



    
{% endblock %}
