{% extends 'ltc/base.html' %} {% load staticfiles %} {% block title_block %}
Homepage {% endblock %} {% block body_block %}
<!-- {% if user.is_authenticated %}
Username: {{ user.username }}<br />
Staff?: {{ user.is_staff }}<br />
Admin?: {{ user.is_superuser }}<br />
{% endif%} -->
<div class="row">
    <h3>Welcome, {{user.username}}</h3>
</div>
<hr class="my-12" />
<div class="row">
  <div class="col-4 border-right">
    <h4>Next today</h4>
    <div class="list-group">
      {% for e in time %}
      <a href="#" class="list-group-item list-group-item-action"
        >{{ e.text }}</a
      >
      <!-- The above needs to be reverse link to event page -->
      {% empty %}<a class="list-group-item list-group-item-action">
        Great job! Nothing left today.</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="col-4 border-right">
    <h4>Deliverables</h4>
    <div class="list-group">
      {% for a in assignments %}
      <a href="#" class="list-group-item list-group-item-action">{{ a }}</a>
      {% empty %}<a class="list-group-item list-group-item-action">
        Great job! Nothing left to submit.</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="col-4">
    <h4>Current courses</h4>
    <div class="list-group">
      {% for c in courses_taken %}
      <a
        href="{% url 'ltc:course_page' c.slug %}"
        class="list-group-item list-group-item-action"
        >{{ c }}</a
      >
      {% empty %}<a class="list-group-item list-group-item-action"
        >No current courses.</a
      >
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
