{% extends 'ltc/base.html' %} {% load staticfiles %} {% block title_block %}
Join Courses {% endblock %} {% block body_block %}
<div class="row pb-5">
    <div class="col-12">
        <h2 class="text-muted">Available courses</h2>
        {% if user.is_staff == False %}
        <h5>
           For the degree of {{u.degree.name}}
        </h5>
        {%endif%}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="list-group">
            <!-- display all the current course -->
            {% if courses %}{% for c in courses %}
            <a
                href="{% url 'ltc:course_page' c.slug %}"
                class="list-group-item list-group-item-action flex-column align-items-start"
            >
                <div class="row">
                    <div class="col-sm-1">
                        <img
                            src="{% static c.photo %}"
                            class="rounded"
                            alt="identicon of {{c.name}}"
                        />
                    </div>
                    <div class="col-sm-11">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{c.code}}: {{c.name}}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <div class="card" >
                <div class="card-body">
                    <h2 class="card-title">No courses</h2>
                </div>
            </div>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}
