{% extends 'ltc/base_simple.html' %}
{% load staticfiles %}

{% block title_block %}
	Professor Page
{% endblock %}

{% block body_block %}
    Professor Name:{{ professor }}
    <hr />

    Courses Teaching:
    <ul>
    {% for course in courses %}
        <li><a href="{% url 'ltc:course_page' course.slug %}">{{ course }}</a></li>
    {% empty %}
        No course.
    {% endfor %}
    </ul>
    <a href="{% url 'ltc:delete_professor' professor.slug %}"><button>Delete Professor</button></a>
{% endblock %}
