{% extends 'ltc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Staff Page
{% endblock %}

{% block body_block %}
    Staff Name:{{ staff }}
    <hr />
    Type: {{ staff.type }}
    <hr />

    Courses Teaching:
    <ul>
    {% for course in courses %}
        <li><a href="{% url 'ltc:course_page' course.slug %}">{{ course }}</a></li>
    {% empty %}
        No course.
    {% endfor %}
    </ul>
    <a href="{% url 'ltc:delete_staff' staff.slug %}"><button>Delete Staff</button></a>

    <hr />
    Available Time Slots:
    <ul>
    {% for t in available_time_slots %}
        <li><a href="{% url 'ltc:time_slot_page' t.slug %}">{{ t }}</a></li>
    {% empty %}
        No available time slot.
    {% endfor %}
    </ul>
    <hr />
{% endblock %}
