{% extends 'ltc/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Find Meeting Time
{% endblock %}

{% block body_block %}
<div class="row">
<div class="col-sm-6 border-right">
    <h4>{{meeting.name}}</h4>
    <ul class="list-group list-group-flush">
        {% for m in meeting.members.all %}
            <li class="list-group-item">{{ m }}</li>
        {% endfor %}
    </ul>
</div>
<div class="col-sm-6">
    <div class="container">
    <h4>Add members to meeting</h4>
    <form class="my-2 my-lg-0" method="post" action="{% url 'ltc:team_schedule_page' slug %}">
    {% csrf_token %}
    <div class="row">
    <input type="search" id="user-input" class="form-control mr-sm-2"  placeholder="Student Name">
    </div>
    <div class="row">
    <select id="replaceable-content" class="mr-sm-2 custom-select" name="user" id="id_user">
        {% include "ltc/student_search_partial.html" %}
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
    </div>
    </form>
</div>
</div>

<div class="container">
    <hr class="my-12" />
    <div class="row justify-content-center">
        {% for m in times %}
        <div class="col-sm {% if forloop.last == False %}border-right{%endif%}">
            <div class="row justify-content-center">
                <h6 class="card-title">{{m.0}}</h6> 
            </div>
            <ul class="list-group list-group-flush text-center ">
            {% for n in m.1 %}
                <li class="list-group-item">{{n.0}}-{{n.1}}</li>
            {% endfor %}
             </ul>
        </div>    
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block footer_block %}
  <script type="text/javascript" src="{% static "javascript/main.js" %}"></script>
{% endblock %} 