{% load mathfilters %}
<div class="row justify-content-center">
<h2>
  <i id="week" hidden>{{week}}</i>
  Week #{{week}}
  <i
    class="fa fa-circle"
    style="font-size: small; vertical-align:top; color: {% if direction == 0 %} green {% else %} blue {%endif%};"
    aria-hidden="true"
  ></i>
</h2>
</div>
<div class="row justify-content-center">
    {% if direction == 0 %}
    Current week
    {% elif direction > 0 %}
    {{direction}} week{% if direction > 1 %}s{%endif%} ahead    
    {% else %}
    {{direction|abs}} week{% if direction < -1 %}s{%endif%} behind
    {%endif%}
</div>